<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Nette Framework Static Web">
    <meta name="robots" content="{$robots}" n:ifset="$robots">

    {include #title}

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
    {* <link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css"> *}
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
    <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>  
    <script type="text/javascript" src="{$basePath}/js/main.js"></script>
    {block head}{/block}
</head>


<body style="background-image: url({$basePath}/images/background1.jpg); background-size: cover;">
	<!--Hlavicka-->
	<header>
		<div id="hlavicka" class="header">
		<!-- <img src="images/logo.png" alt="Psí potřeby" /> -->
		<hgroup>
			<h1>Nezakrň.cz (Probíhá výstavba)</h1>
			<h3>„Paměť je výsadou blbých, chytrý nemá čas si pamatovat, chytrý musí vymýšlet..“ (J.Werich)</h3>
		</hgroup>
		</div>
	</header>

	<!--Menu-->
	<nav>
		<ul id="mainMenu" n:inner-foreach="$menuItems as $item => $link">
			<li {ifCurrent $link}class="currentMenuItem"{else}class="menu"{/ifCurrent}>
		   		<a styl="text-decoration: none;" n:href="$link">{$item}</a>
			</li>
		</ul>
	</nav>

	<section>
		<div id="cela-stranka" class="fullPage">
			<div id="hlavni-text" class="body">
				<!--vložení bloku content-->
		 		{include #content}
			</div>
		</div>
	</section>

	<aside>
		<h3>Podobné</h3>
	</aside>

	<!--Paticka-->
	<footer>
		<p>&copy; 2018 nezakrn.cz<p>
	</footer>
</body> 

</html>


