{block title}
    <title>Nezakrň.cz - Homepages</title>
{/block}

{block content}
    <div>
        <a>Nezakrň.cz má v databázi </a>
        <a>{$questionCount|noescape}</a>
        <a>otázek</a>
    </div>
	<div style="text-align: center; margin-left:auto; margin-right:auto; width:50%;">
    	<h2>Otázka:</h2>
        {snippet pokus}
            <p>{$foo|noescape}</p>
        {/snippet}
    	<p>{$actQuestion|noescape}</p>
        <div style="text-align: left; margin-left:auto; margin-right:auto; width:400px;">
            {control registrationForm}
        </div>
    </div>

    <script> // testování
    $(function(){
        $('a.ajax').live('click', function(){
            $.get(this.href);
            return false;
        });
    });
    </script>


    <script> // testování
        setInterval(function(){
            $.nette.ajax({
                type: "POST", 
                dataType: "json",
                url: {link Refresh!}
            });
            },1000);
    </script>

{/block}

