{block title}
    <title>Nezakrň.cz - Kontakty</title>
{/block}

{block content}
    <div>
    	<h2>Kontakt</h2>
    	<p>V případě že pocítíte nutnost kontaktovat tvůrce webu nezakrn.cz pište na email <a href="mailto:info@nezakrn.cz">info@nezakrn.cz</a></p>
    </div>
{/block}