
{block title}
    <title>Nezakrň.cz - Registrace</title>
{/block}

{block content}
	<h1>Registrace nového uživatele</h1>
	<div style="text-align: right; margin-left:auto; margin-right:auto;width:30%;">
		{control signInForm}
	</div>
{/block}