
{block title}
    <title>Nezakrň.cz - Odhlásit</title>
{/block}

{block content}
	<h1>Odhlášení</h1>
	<div style="text-align: right; margin-left:auto; margin-right:auto;width:30%;">
		{control signInForm}
	</div>
{/block}