{block title}
    <title>Nezakrň.cz - Úvod</title>
{/block}

{block content}
    <div>
        <p>TODO: Doplnit nějakou poznámku k tomu so a jak se má vyplňovat</p>
    </div>
	<div style="text-align: right; margin-left:auto; margin-right:auto;width:30%;">
    	{control registrationForm}
    </div>
{/block}