body {
  width:80%; 
  margin-left:auto; 
  margin-right:auto;
} 

header {
    background: orange;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border-radius: 10px;  
    font-size: 22px;
    margin: 24px 1.5% 0 1.5%; /* vnější okraj*/
    padding: 2px; /* vnitřni okraj*/
} 

nav {
    background: orange;
    margin: 12px 1.5% 6px 1.5%;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

section {
    float: left;
    margin: 6px 0.5% 12px 1.5%;
    border-radius: 10px;
    width: 71%;
    background: orange;
    font-family: Helvetica, Arial, sans-serif;
    background: #fffffff9;
    min-height: 600px;
    padding: 0.5%;
}

aside {
    float: right;
    margin: 6px 1.5% 12px 0.5%;
    border-radius: 10px;
    width: 23%;
    font-family: Helvetica, Arial, sans-serif;
    background: #fffffff9;
    min-height: 600px;
    padding: 0.5%;
}

footer {
    margin: 0 1.5% 24px 1.5%;
    clear: both;
    margin-bottom: 0;
    background: orange;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border-radius: 10px;  
    font-size: 22px;
    padding: 2px; /* vnitřni okraj*/
}

h1{
  font-family: Helvetica, Arial, sans-serif;
}

h2{
  font-family: Helvetica, Arial, sans-serif;
}

h3{
  font-family: Helvetica, Arial, sans-serif;
}

p.center {
    text-align: center;
} 

li.menu{
  list-style-type:none;
  display:inline;
  text-align: center;
  text-decoration: none;
}

li.currentMenuItem{
  list-style-type:none;
  display:inline;
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  display:inline;
  text-decoration: none;
}


#mainMenu {
  display:inline;
  text-decoration: none;
  padding: .3em;
  display: inline-block;
  list-style-type:none;
}

